{% extends 'base.html' %}


{% block title %}
    Tasks list
{% endblock title %}
    
{% block main %}
    <h1>Tasks page</h1>
    
    <table class="table table-stripped my-3">
        <thead>
            <tr>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>DEADLINE</th>
                <th>CATEGORY</th>
            </tr>
        </thead>
        {% if tasks %}
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{ task.task_title }}</td>
                    <td>{{ task.task_description }}</td>
                    <td>{{ task.deadline }}</td>
                    <td>{{ task.category.category_name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <h5 class="text-center">There is no task at the moment</h5>
        {% endif %}
    </table>
    
{% endblock main %}